

.search-item{
    position: relative;
}

.search-result{
    width: 100%;
    position: absolute;
    background-color:white;
    z-index: 10;
}

.search-result div{
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.search-result a{
    text-decoration: none;
    color: black;
}


.close{
    display: none;
}
