.header_title{
    margin-right: auto;
    font-size: 23px ;
}
.navbar_item, a, .input-search{
    font-size: 16px;
    text-decoration: none;
}
.navbar_item a:hover{
    color: #207dff;
    font-size: 18px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 10%;
    max-width: 100%;
    background-color: #f0f0f0;
}
.logo{
    cursor: pointer;
    width: 65px;
    height: 65px;
    margin-right: auto;
}
.navbar__links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__links, .navbar_item{
    /* display: inline-block; */
    padding: 0px 20px;
}
.navbar__links, .navbar_item, a{
    transition: all 0.3s ease 0s;    
    color:#111;
}
.navbar_right{
    position:relative;
    padding:0 0 0 20px;
    margin:0 20px;
    direction: rtl;
    width: 175px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.img_magnifier {
    display: block;
    width:24px;
    height:24px;
}
.img_like{
    width: 24px;
    display: block;
    height: 24px;
}
.img_cart{
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}


.search-item{
    position: relative;
}

.search-result{
    /* width: 100%;
    position: absolute;
    background-color:white;
    z-index: 10;
    /* z-index: 1000; */
    /* border: 1px solid #BFBFBF;
    padding: 0; */ 

    width: 100%;
    z-index: 10;

    background: #EFF3FA;
    border-radius: 10px;
    min-height: 85px;
    padding: 11px 18px;
    font-weight: 300;
    font-size: 15px;
    line-height: 110%;
    color: #D2D2D2;
    position: absolute;
}

.search-result div{
    margin-bottom: 5px;
    padding: 15px 10px;
    border-top: 1px solid #BFBFBF;
    color: black;
}

.search-result div:hover{
    background-color: #f4f4f4;
}

.search-result a{
    text-decoration: none;
    color: black;
}


.close{
    display: none;
}

.search-items img{
    width: 100px;
    height: 100px;
}
.inp-search{
    margin-top: 0;
    width: 150px;
    height: 30px;
    border: none;
    font-family: "Rubik", -apple-system;
    font-weight: 400;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #bbbbbb;
}